.header{
    display: flex;
    flex-direction: column;
   border-bottom: solid 3px ;
    align-items: center;
    color: cornsilk;
    
}

*{
    margin: 0;
    padding: 10px;
    box-sizing: inherit;
  }

.search_bar{
    display: flex;
    flex-direction: column;
  
    align-items: center; 
}

.cen{
    text-align: center;
}

span{
    padding: 0;
}
.forcast{
    display: flex;
    flex-direction: column;
    border-bottom: solid 3px rgb(5, 5, 5);
    align-items: center;
}

html{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
    justify-content: center;
    color: cornsilk;
    
    background-image: url("https://media.nationalgeographic.org/assets/photos/000/150/15034.jpg");
}

.main{
    border: solid 10px black;
    background-color: rgb(48, 45, 65);
}

h1{
    font-size: 4rem;
    
}